#header
{
	padding: 5px;
}

img .still	
{
	width: 40%;
}



#toc
{
	right: 20px;
	top: 275px;
	opacity: 1;
	position: fixed;

}

#page
{
	background: #f0f2f6;
}

#content h1
{
	color: #747d95;
}	
	


body
{
	overflow-y: visible;
	height: 2500px;
}


.active{
	color: white;
	background: #829ac0;
	/*border-left: thick solid rgba(0,255,0,0.5);*/
}